* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------------------------------*/
@font-face {
    font-family: 'Belanosima';
    src: url('../fonts/Belanosima-Regular.woff2') format('woff2'),
        url('../fonts/Belanosima-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

body, html {
    scroll-behavior: smooth;
}

body {
    background: #D8D8D6;
    color: #161616;
    font-weight: 400;
    font-size: 18px;
}

.bg-green {
    background: #81A36B;
}

a,button {
    cursor: pointer;
    text-decoration: none;
    color: #161616;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: #81A36B;
    padding: 25px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: 'Belanosima', sans-serif;
    font-size: 36px;
}

.block-list {
    display: flex;
    gap: 90px;
}

.burger {
    width: 50px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: none;
}

.burger::before, .burger::after, .burger span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #161616;
}

.burger span {
    top: 50%;
    transform: translateY(-50%);
}

.burger::after {
    top: auto;
    bottom: 0;
}

.text-main {
    max-width: 540px;
}

.flowers-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.brand-name {
    font-size: 62px;
    font-family: 'Belanosima';
    margin-bottom: 60px;
}

.content-main {
    margin-bottom: 60px;
}

.buttons {
    display: flex;
    gap: 65px;
}

.buttons button {
    padding: 15px 40px;
}


.buttons button:nth-child(2) {
    border: 1px solid #81A36B;
    background: #D8D8D6;
}

.about-container {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.about{
    padding: 120px 0;
}

.about h2 {
    font-size: 32px;
    font-family: 'Belanosima';
    margin-bottom: 60px;
}

.benefits {
    padding: 80px 0;
    background: #81A36B;
}

.benefits-container {
    padding: 0 20px;
}

.benefits ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.benefits img {
    display: block;
    margin: 0 auto 20px auto;
}

.benefits p {
    font-size: 18px;
    font-family: 'Belanosima';
}

.process-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 120px 0;
}

.text-process {
    width: 540px;
}

.text-process h2 {
    text-align: center;
    font-size: 32px;
    font-family: 'Belanosima';
    margin-bottom: 60px;
}

.text-process p {
    max-width: 540px;
    margin-bottom: 60px;
}

.works-cont {
    padding: 120px 0;
}

.container-name {
    text-align: center;
    font-size: 32px;
    font-family: 'Belanosima';
    margin-bottom: 80px;
}

.works {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.work {
    flex: 1 1 auto;
    padding: 15px 15px 40px;
    text-align: center;
    max-width: 350px;
}

.work img {
    margin-bottom: 23px;
}


.contacts {
    background: #81A36B;
}

.contacts-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 60px 0;
    flex-wrap: wrap;
}

.numbers {
    text-align: center;
}

.numbers h3{
    font-size: 24px;
    margin-bottom: 40px;
}

.numbers li {
    margin-bottom: 20px;
}

.brand h2{
    font-size: 36px;
    font-family: 'Belanosima';
}

.social-nets h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.social-nets {
    text-align: center;
}

.year {
    font-size: 16px;
    text-align: center;
    font-family: 'Belanosima';
    padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .block-list {
        gap: 60px;
    }

    .images {
        width: 400px;
        height: 480px;
    }
}

@media screen and (max-width: 900px) {
    .block-list {
        gap: 20px 
    }
    .brand-name {
        font-size: 40px;
    }
    .images {
        width: 250px;
        height: 310px;
    }
}

@media screen and (max-width: 720px) {
    .block-list {
        display: none;
    }

    .burger {
        display: block;
    }

    .images {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .buttons {
        gap: 20px;
    }

    .buttons button {
        padding: 10px 10px;
    }

    .work {
        flex: 1 1 auto;
        padding: 5px 5px 15px;
    }

    .work img {
        width: 260px;
        height: 310px;
    }
}